@import url(https://fonts.googleapis.com/css?family=Bangers);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Bangers", sans-serif;
}

body {
    background-color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
}

#status {
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

#board {
    max-width: 100%;
    width: 600px;
    padding: 2rem 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    position: relative;
}

.square {
    height: 130px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 3.5rem;
    margin: 0.3rem;
    background-color: #fff;
    border: solid black;
    border-color: black;
    float: left;
    border-width: 3px 3px 5px 5px;
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
    transform: rotate(-2deg);
}